<footer class="footer-bg text-center text-lg-star" style="position: relative">
  <img
    src="../../assets/footer/footer-circle-1.png"
    alt="footer"
    class="img-fluid w-100 h-100"
    style="
      position: absolute;
      top: 49%;
      right: 13.5%;
      transform: translate(50%, -50%);
      max-width: 365px;
      max-height: 307px;
    "
  />
  <img
    src="../../assets/footer/footer-circle-2.png"
    alt="footer"
    class="img-fluid w-100 h-100"
    style="
      position: absolute;
      top: 48%;
      right: 12%;
      transform: translate(50%, -50%);
      z-index: 0;
      max-width: 350px;
      max-height: 290px;
    "
  />
  <!-- Copyright -->
  <div
    class="text-center p-5"
    style="
      background-color: rgba(0, 0, 0, 0.05);
      height: 315px;
      position: relative;
    "
  >
    <img
      src="../../assets/footer/footer.png"
      alt="footer"
      style="
        position: absolute;
        top: 90px;
        left: 120px;
        transform: translate(-50%, -50%);
      "
    />

    <div
      class="d-flex justify-content-center align-items-center flex-column gap-3"
    >
      <button
        type="button"
        class="btn rounded-pill light-green-bg text-white f-btn-click w-100 h-100"
        style="max-width: 448px; max-height: 50px"
      >
        FAQ เรื่องพลังงานที่นี่
      </button>
    </div>

    <div class="row">
      <div
        class="col d-flex align-items-end justify-content-center p-5"
        style="z-index: 2"
      >
        <button
          type="button"
          class="btn rounded-pill light-green-bg text-white f-btn-click"
        >
          hello
        </button>
        <div class="col text-start p-5">
          <div>
            <img
              src="../../assets/footer/map-icon.png"
              alt="Map icon"
              style="cursor: pointer"
            />
            <h5 class="text-white">
              เลขที่ 9, ถนน I-8 ป.ณ. 92 ปณจ.มาบตาพุด <br />
              อำเภอเมือง จังหวัดระยอง 21150
            </h5>
          </div>
          <div>
            <img
              src="../../assets/footer/mail-icon.png"
              alt="Mail icon"
              style="cursor: pointer"
            />
            <h5 class="text-white">webmaster@blcp.co.th</h5>
          </div>
        </div>
        <h5 class="text-white">
          <span class="fw-bold"
            ><img
              src="../../assets/footer/map-icon.png"
              alt="Map icon"
              style="cursor: pointer"
          /></span>
          เลขที่ 9, ถนน I-8 ป.ณ. 92 ปณจ.มาบตาพุด <br />
          อำเภอเมือง จังหวัดระยอง 21150
        </h5>
      </div>
      <div class="col text-start p-5">
        <h5 class="text-white">
          เลขที่ 9, ถนน I-8 ป.ณ. 92 ปณจ.มาบตาพุด <br />
          อำเภอเมือง จังหวัดระยอง 21150
        </h5>
        <h5 class="text-white">webmaster@blcp.co.th</h5>
      </div>
      <div
        class="col d-flex flex-column justify-content-center align-items-center gap-3 p-1"
      >
        <button
          type="button"
          class="btn btn-primary bg-white btn-lg rounded-pill p-1 text-black d-flex align-items-center gap-3"
          style="width: 180px; height: 42px"
        >
          <span
            class="border rounded-circle border-2 border-dark d-flex align-items-center justify-content-center p-1"
          >
            <img
              src="../../assets/navbar/Form_nav.png"
              alt="Logo"
              style="width: 25px; height: 24px"
            />
          </span>

          <div class="d-flex flex-column align-items-start">
            <p
              class="mb-0 fw-bold text-primary"
              style="font-size: 16px; line-height: 100%"
            >
              แบบฟอร์มร้องเรียน
            </p>
            <p
              class="mb-0 fw-bold text-primary"
              style="font-size: 16px; line-height: 100%"
            >
              081-000-7362
            </p>
          </div>
        </button>

        <button
          type="button"
          class="btn btn-primary bg-white btn-lg rounded-pill p-1 text-black d-flex align-items-center gap-3"
          style="width: 180px; height: 42px"
        >
          <span
            class="border rounded-circle border-2 border-dark d-flex align-items-center justify-content-center p-1"
          >
            <img
              src="../../assets/navbar/Phone_nav.png"
              alt="Logo"
              style="width: 25px; height: 24px"
            />
          </span>

          <div class="d-flex flex-column align-items-start">
            <p
              class="mb-0 fw-bold text-primary"
              style="font-size: 16px; line-height: 100%"
            >
              ติดต่อโรงไฟฟ้าบีแอลซีพี
            </p>
            <p
              class="mb-0 fw-bold text-primary"
              style="font-size: 16px; line-height: 100%"
            >
              038-925100
            </p>
          </div>
        </button>
      </div>
    </div>
  </div>
</footer>
