<aside
  class="border-end"
  style="min-width: 220px; min-height: 100vh; max-width: 320px"
>
  <img
    src="assets/logo/BLCP-01.png"
    alt="Sidebar Logo"
    class="img-fluid"
    style="max-width: 300px; height: auto"
  />
  <div class="accordion border-none" id="accordionExample">
    <ul class="list-unstyled sidebar-menu">
      <!-- Tab 1 -->
      <li>
        <button
          class="btn w-100 d-flex justify-content-between align-items-center sidebar-link f-link"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#menu1"
          aria-expanded="false"
          aria-controls="menu1"
        >
          <div>
            <img
              src="assets/sidebar/lightning_light.png"
              alt="About us"
              class="img-fluid"
            />
            เกี่ยวกับเรา
          </div>
          <span class="chevron-icon">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-chevron-right"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M6.646 12.854a.5.5 0 0 1 0-.708L10.293 8 6.646 4.354a.5.5 0 1 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708 0z"
              />
            </svg>
          </span>
        </button>
        <div class="collapse" id="menu1">
          <a href="#" class="d-block py-1 ps-4 f-link">ประวัติองค์กร</a>
          <a href="#" class="d-block py-1 ps-4 f-link"
            >วิสัยทัศน์ พันธกิจ ค่านิยม</a
          >
          <a href="#" class="d-block py-1 ps-4 f-link">คณะผู้บริหาร</a>
          <a href="#" class="d-block py-1 ps-4 f-link"
            >รางวัล และเหตุการณ์สำคัญ</a
          >

          <ul class="list-unstyled">
            <li>
              <button
                class="btn w-100 ps-4 d-flex justify-content-between align-items-center sidebar-link f-link"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#submenu1"
                aria-expanded="false"
                aria-controls="submenu1"
              >
                การดำเนินงาน
                <span class="chevron-icon">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-chevron-right"
                    viewBox="0 0 16 16"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M6.646 12.854a.5.5 0 0 1 0-.708L10.293 8 6.646 4.354a.5.5 0 1 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708 0z"
                    />
                  </svg>
                </span>
              </button>
              <div class="collapse" id="submenu1">
                <a href="#" class="d-block py-1 ps-5 f-link"
                  >เทคโนโลยีการผลิตไฟฟ้า</a
                >
                <a href="#" class="d-block py-1 ps-5 f-link">การใช้น้ำจืด</a>
                <a href="#" class="d-block py-1 ps-5 f-link">ระบบหล่อน้ำเย็น</a>
                <a href="#" class="d-block py-1 ps-5 f-link">ระบบควบคุมมลพิษ</a>
                <a href="#" class="d-block py-1 ps-5 f-link"
                  >การจัดการน้ำเสีย</a
                >
              </div>
            </li>
          </ul>

          <a href="#" class="d-block py-1 ps-4 f-link">FAQs คำถามที่พบบ่อย</a>
        </div>
      </li>
      <!-- Tab 2 -->
      <li>
        <button
          class="btn w-100 d-flex justify-content-between align-items-center sidebar-link f-link"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#menu2"
          aria-expanded="false"
          aria-controls="menu2"
        >
          <div>
            <img
              src="assets/sidebar/Leaf.png"
              alt="Sustainability and Environment"
              class="img-fluid"
              width="23"
              height="25"
            />
            ความยั่งยืนและสิ่งแวดล้อม
          </div>

          <span class="chevron-icon"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-chevron-right"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M6.646 12.854a.5.5 0 0 1 0-.708L10.293 8 6.646 4.354a.5.5 0 1 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708 0z"
              /></svg
          ></span>
        </button>
        <div class="collapse" id="menu2">
          <a href="#" class="d-block py-1 ps-4 f-link">กลยุทธ์ ESG</a>
          <ul class="list-unstyled">
            <li>
              <button
                class="btn w-100 ps-4 d-flex justify-content-between align-items-center sidebar-link f-link"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#submenu2-1"
                aria-expanded="false"
                aria-controls="submenu2-1"
              >
                สิ่งแวดล้อม
                <span class="chevron-icon">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-chevron-right"
                    viewBox="0 0 16 16"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M6.646 12.854a.5.5 0 0 1 0-.708L10.293 8 6.646 4.354a.5.5 0 1 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708 0z"
                    />
                  </svg>
                </span>
              </button>
              <div class="collapse" id="submenu2-1">
                <a href="#" class="d-block py-1 ps-5 f-link">ระบบสิ่งแวดล้อม</a>
                <a href="#" class="d-block py-1 ps-5 f-link"
                  >การตรวจสอบสิ่งแวดล้อม</a
                >
              </div>
            </li>
          </ul>

          <ul class="list-unstyled">
            <li>
              <button
                class="btn w-100 ps-4 d-flex justify-content-between align-items-center sidebar-link f-link"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#submenu2-2"
                aria-expanded="false"
                aria-controls="submenu2-2"
              >
                สังคม
                <span class="chevron-icon">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-chevron-right"
                    viewBox="0 0 16 16"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M6.646 12.854a.5.5 0 0 1 0-.708L10.293 8 6.646 4.354a.5.5 0 1 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708 0z"
                    />
                  </svg>
                </span>
              </button>
              <div class="collapse" id="submenu2-2">
                <a href="#" class="d-block py-1 ps-5 f-link"
                  >โครงการ และกิจกรรมเพื่อสังคม</a
                >
                <a href="#" class="d-block py-1 ps-5 f-link"
                  >การประชุมไตรภาคี</a
                >
                <a href="#" class="d-block py-1 ps-5 f-link"
                  >วิดีโอกิจกรรม ฯลฯ</a
                >
              </div>
            </li>
          </ul>

          <ul class="list-unstyled">
            <li>
              <button
                class="btn w-100 ps-4 d-flex justify-content-between align-items-center sidebar-link f-link"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#submenu2-3"
                aria-expanded="false"
                aria-controls="submenu2-3"
              >
                รายงานด้านความยั่งยืน
                <span class="chevron-icon">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-chevron-right"
                    viewBox="0 0 16 16"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M6.646 12.854a.5.5 0 0 1 0-.708L10.293 8 6.646 4.354a.5.5 0 1 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708 0z"
                    />
                  </svg>
                </span>
              </button>
              <div class="collapse" id="submenu2-3">
                <a href="#" class="d-block py-1 ps-5 f-link">รายงาน CSR-DIW</a>
                <a href="#" class="d-block py-1 ps-5 f-link"
                  >รายงานยความยั่งยืนคณะทำงาน</a
                >
              </div>
            </li>
          </ul>

          <a href="#" class="d-block py-1 ps-4 f-link">นโยบาย</a>
        </div>
      </li>
      <!-- Tab 3 -->
      <li>
        <button
          class="btn w-100 d-flex justify-content-between align-items-center sidebar-link f-link"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#menu3"
          aria-expanded="false"
          aria-controls="menu3"
        >
          <div>
            <img
              src="assets/sidebar/Chat_fill.png"
              alt="News"
              class="img-fluid"
            />
            ข่าวสาร
          </div>

          <span class="chevron-icon"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-chevron-right"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M6.646 12.854a.5.5 0 0 1 0-.708L10.293 8 6.646 4.354a.5.5 0 1 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708 0z"
              /></svg
          ></span>
        </button>
        <div class="collapse" id="menu3">
          <a href="#" class="d-block py-1 ps-4 f-link"
            >ข่าวประจำวัน ข่าวสารองค์กร</a
          >
          <a href="#" class="d-block py-1 ps-4 f-link">สาระน่ารู้</a>
          <a href="#" class="d-block py-1 ps-4 f-link">หน่วยงานที่เกี่ยวข้อง</a>

          <ul class="list-unstyled">
            <li>
              <button
                class="btn w-100 ps-4 d-flex justify-content-between align-items-center sidebar-link f-link"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#submenu"
                aria-expanded="false"
                aria-controls="submenu"
              >
                ร่วมงานกับเรา
                <span class="chevron-icon">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-chevron-right"
                    viewBox="0 0 16 16"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M6.646 12.854a.5.5 0 0 1 0-.708L10.293 8 6.646 4.354a.5.5 0 1 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708 0z"
                    />
                  </svg>
                </span>
              </button>
              <div class="collapse" id="submenu">
                <a href="#" class="d-block py-1 ps-5 f-link">ตำแหน่งว่าง</a>
              </div>
            </li>
          </ul>
        </div>
      </li>
      <!-- Tab 4 -->
      <li>
        <button
          class="btn w-100 d-flex justify-content-between align-items-center sidebar-link f-link"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#menu4"
          aria-expanded="false"
          aria-controls="menu4"
        >
          <div>
            <img
              src="assets/sidebar/mortarboard-fill.png"
              alt="Learning Center"
              class="img-fluid"
            />
            ศูนย์การเรียนรู้
          </div>

          <span class="chevron-icon"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-chevron-right"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M6.646 12.854a.5.5 0 0 1 0-.708L10.293 8 6.646 4.354a.5.5 0 1 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708 0z"
              /></svg
          ></span>
        </button>
        <div class="collapse" id="menu4">
          <a href="#" class="d-block py-1 ps-4 f-link">KSEC</a>
        </div>
      </li>
      <!-- Tab 5 -->
      <li>
        <button
          class="btn w-100 d-flex justify-content-between align-items-center sidebar-link f-link"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#menu5"
          aria-expanded="false"
          aria-controls="menu5"
        >
          <div>
            <img
              src="assets/sidebar/File_dock_fill.png"
              alt="Report Publication"
              class="img-fluid"
            />
            รายงานเอกสารเผยแพร่
          </div>

          <span class="chevron-icon"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-chevron-right"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M6.646 12.854a.5.5 0 0 1 0-.708L10.293 8 6.646 4.354a.5.5 0 1 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708 0z"
              /></svg
          ></span>
        </button>
        <div class="collapse" id="menu5">
          <a href="#" class="d-block py-1 ps-4 f-link"
            >รายงานการตรวจสอบสิ่งแวดล้อม</a
          >
          <a href="#" class="d-block py-1 ps-4 f-link">รายงาน AQMS</a>
          <a href="#" class="d-block py-1 ps-4 f-link">รายงาน CEMS</a>
          <a href="#" class="d-block py-1 ps-4 f-link">รายงาน CSR-DIW</a>
          <a href="#" class="d-block py-1 ps-4 f-link"
            >รายงานความยั่งยืนคณะทำงาน</a
          >
          <a href="#" class="d-block py-1 ps-4 f-link">การประชุมไตรภาคี</a>
        </div>
      </li>
      <!-- Tab 6 -->
      <li>
        <button
          class="btn w-100 d-flex justify-content-between align-items-center sidebar-link f-link"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#menu6"
          aria-expanded="false"
          aria-controls="menu6"
        >
          <div>
            <img
              src="assets/sidebar/Send_fill.png"
              alt="Contact Us"
              class="img-fluid"
              width="30"
              height="30"
            />
            ติดต่อเรา
          </div>

          <span class="chevron-icon"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-chevron-right"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M6.646 12.854a.5.5 0 0 1 0-.708L10.293 8 6.646 4.354a.5.5 0 1 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708 0z"
              /></svg
          ></span>
        </button>
        <div class="collapse" id="menu6">
          <a href="#" class="d-block py-1 ps-4 f-link"
            >ร้องเรียนการดำเนินงานทั่วไป</a
          >
          <a href="#" class="d-block py-1 ps-4 f-link"
            >ร้องเรียนเรื่องการทุจริต</a
          >
          <a href="#" class="d-block py-1 ps-4 f-link"
            >แบบสอบถามความพึงพอใจเว็ปไซต์</a
          >
          <a href="#" class="d-block py-1 ps-4 f-link">นโยบายความเป็นส่วนตัว</a>
        </div>
      </li>
    </ul>
  </div>
</aside>
